@import "../../.././Styles/vars";

.main > .header > .logo {
  grid-row-start: 1;
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: $mobile-width) {

  .main > .header {
    display: grid;
    grid-template-rows: 75px auto;
  }
}

@media only screen and (max-width: $mobile-width) {
  .main > .header {
    display: grid;
    grid-template-rows: 75px 0;
  }
}

@media only screen and (max-width: $mobile-width) {
  .invisible {
    opacity: 0;
  }

}

