@import '../../.././Styles/vars';
@import '../../.././Styles/layout';

@media only screen and (min-width: $mobile-width) {
  .page-container {
    @include page-layout
  }

  .login-container {
    @include container;
    grid-template-areas: 'login-header' 'login-form';
    grid-template-rows: 1fr 5fr;
    height: 25rem;
    width: 20rem;

  }

  .login-header {
    grid-area: login-header;
    @include center;
  }

}

.login-container > form {
  grid-area: login-form;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
}


form input {
  outline: none;
  height: 2.5em;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
  box-sizing: border-box;
  font-size: 1em;
  opacity: 50%;
}

form input:focus {

  filter: brightness(125%);
}

@media only screen and (max-width: $mobile-width) {
  .page-container {
    @include mobile-page-container;


  }

  .login-container {
    @include mobile-content-container;

  }

  .login-container > form {
    grid-row-start: 2;
    grid-column-start: 1;
  }

  .login-header {
    grid-row-start: 1;
    grid-column-start: 1;
    @include center;
  }


}