@import '../../.././Styles/vars';

.exercise-name {
  padding-left: 1em;
  cursor: pointer;
  color: $success;
  text-decoration: underline;
  font-size: 1em;
  box-sizing: border-box;
}

@media only screen and (min-width: $mobile-width) {

  .main.exercise {
    margin-left: $navbar-side-size;
    grid-template-areas:
    'header'
    'main-content'
    'footer';
    grid-template-rows: 200px 3fr 75px;
    min-height: 100vh;

  }


  .main > .exercise.header {
    display: grid;
    grid-template-rows: 75px auto;

  }

  .main > .exercise.header > .logo {
    grid-row-start: 1;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main > .exercise.header > .section {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $secondary;
  }


  .main > .main-content.exercise {
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 75px;
  }

  .main > .footer.exercise {
    background-color: $secondary;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }

  .main > .footer.exercise > button {
    width: 10em;
  }

  .accordion-container {
    grid-column-start: 2;
  }


}

@media only screen and (max-width: $mobile-width) {
  .main.exercise {
    margin-bottom: $navbar-bottom-size;
    grid-template-areas:
    'header'
    'main-content'
    'footer';
    grid-template-rows: 100px 2fr 75px;
    min-height: 100vh;

  }

  .main > .main-content.exercise {
    width: 100vw;

  }

  .main > .header.exercise {
    display: grid;
    grid-template-rows: 75px auto;
  }

  .main > .header.exercise > .logo {
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main > .header.exercise > .section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main > .main-content.exercise {
    margin-bottom: 75px;
  }


  .main > .footer.exercise {
    display: flex;
    align-items: flex-end;
    justify-content: center;

  }

  .main > .exercise.footer > .button {
    margin-bottom: 75px;
    height: 2em;
    width: 10em;

  }




}