dialog {

  border: none;
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
}

.modal-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}