@import '../../../Styles/vars';

@mixin text {
  font-weight: 500;
}

@mixin header {
  font-weight: 800;
}

@mixin centered {
  text-align: center;
}

h1.text {
  @include header;
  font-size: 30px;

  @media only screen and (max-width: $mobile-width) {
    font-size: 20px;
  }

}

h2.text {
  @include header;
  font-size: 24px;
  margin: 0;

  @media only screen and (max-width: $mobile-width) {
    font-size: 18px;
  }
}

p.text {
  @include text;
  margin: 0;
  display: inline-block;
}

.centered {
  @include centered;
}

