@import '../../../Styles/vars';

.main {

  display: grid;
  grid-template-areas: 'header' 'main-content' 'right-sidebar' 'footer';
}

.main > .header {
  grid-area: header;
}

.main > .main-content {
  grid-area: main-content;
}

.main > .right-sidebar {
  grid-area: right-sidebar;
}

.main > .footer {
  grid-area: footer;
}




