@import '../../.././Styles/vars';

.header.dashboard > .section {
  margin-top: 1em;
  margin-left: 1em;
}

@media only screen and (min-width: $mobile-width) {
  .main.dashboard {
    min-height: 100vh;
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas:
      'header header header'
      'main-content main-content right-sidebar';
    grid-template-rows: 150px auto;
    margin-left: $navbar-side-size;

  }

  .main > .main-content.dashboard {
    border-top: 1px solid $secondary;

  }

  .main > .right-sidebar.dashboard {
    margin-right: 5rem;
    margin-top: 1rem;
    background-color: white;
    padding: 1em;
    height: fit-content;
  }

  .sidebar-grid {
    display: grid;
    grid-template-areas:
      'sidebar-heading'
      'sidebar-content';
    grid-template-rows: 5rem auto;
  }

  .sidebar.heading {
    grid-area: sidebar-heading;
    border-bottom: $secondary 1px solid;
  }

  .sidebar.content {
    grid-area: sidebar-content;
    display: flex;
    flex-direction: column;
  }

  .sidebar-item {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;

  }

}

b {
  font-weight: 600;
}

@media only screen and (max-width: $mobile-width) {
  .main.dashboard {
    min-height: 100vh;
    margin-bottom: $navbar-bottom-size;
    grid-template-areas:
      'header'
      'main-content'
      'right-sidebar';
    grid-template-rows: 150px auto auto;
  }
  .main > .header.dashboard {
    border-bottom: 1px solid $secondary;
  }

  .sidebar-item {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;

  }

  .main > .right-sidebar.dashboard {
    background-color: white;
    padding: 0.5em;
    margin: 1em;
    height: fit-content;
  }

}

.recent-workouts {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex: 1;

}