// Colours
$primary: #ACADBC;
$secondary: #9B9ECE;


$blue: #473BF0;

$text: #3F403F;

$danger: #FF453A;
$success: #33C759;

$purple: #B14AED;
$light-gray: #f3f3f4;
$white: #ffffff;
$light-blue: #0080ff;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1920px;

$navbar-bottom-size: 50px;
$navbar-side-size: 100px;